.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}
.container > div {
    width:200px;

}
.picture-frame {
    height:100%;
    widows: 100%;
}

h1 {
    color: teal;
}

img{
    width: 100%;
}